//Uncomment if header is on top of splash
/* body{
    position: relative;
} */

.header{
    padding: 10px;
    background: $lightBlue-600;
    border-bottom: 5px solid $lightBlue-800;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-weight: 400;
        color: $lightBlue-50;
        line-height: 1;
        font-size: 1.3rem;
        padding-left: 10px;

        a{
            color: $lightBlue-50;
        }

        .smaller{
            font-size: 0.7rem;
        }
    }

    //Uncomment if header needs to be on top of splash
    //@include floatingHeader
}

.nav-links{
    display: flex;
    justify-content: flex-end;

    a{
        color: $lightBlue-50;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.25s all;

        &:hover{
            background: $lightBlue-700;
        }
    }
}