.desktop{
    display: block!important;
}

.mobile{
    display: none!important;
}

.lazy-image{
    background: $warmGray-50;
    position: relative;
    width: 100%;

    .image-loader{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:before{
            display: block;
            content: "";
            width: 50px;
            height: 50px;
            border: 4px solid $lightBlue-100;
            border-top: 4px solid $lightBlue-600;
            border-radius: 50px;
            animation: 1s linear infinite rotate360;
        }
    }

    img{
        opacity: 0;
        transition: 0.25s all;
        display: block;
        position: relative;
        z-index: 1;

        &.loaded{
            opacity: 1;
        }
    }
}

.loading-page{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::before{
        content: "";
        display: block;
        width: 150px;
        height: 150px;
        border: 5px solid $lightBlue-500;
        border-top: 5px solid #FFF;
        animation: 0.5s linear infinite rotate360;
        border-radius: 150px;
    }

    h1{
        font-weight: normal;
        margin-top: 40px;
        font-size: 1.5rem;
    }
}

.hero-part{
    background: $lightBlue-600;
    position: relative;
    height: calc(100vh - 60px);
    margin-bottom: 30px;

    .lazy-image{
        background: linear-gradient(45deg, $lightBlue-600, $lightBlue-800);
        width: 100%;
        height: 100%;
        opacity: 0.8;

        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .hero-text{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $lightBlue-50;
        text-align: center;
        border: 8px solid $lightBlue-50;
        width: 100%;
        max-width: 600px;
        padding: 30px 0;
        text-shadow: 0px 2px 20px $gray-900;

        h1{
            font-size: 5rem;
            margin: 0 0 10px;
            line-height: 1;
            color: #FFF;
        }

        p{
            margin: 0;
        }
    }

    .scroll-down{
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 0;
        text-align: center;
        color: $lightBlue-50;
        font-weight: bold;
        font-size: 0.8rem;
        text-shadow: 0px 0px 10px #000;
        animation: 1s linear infinite bounce;

        i{
            display: block;
            font-size: 1.2rem;
        }
    }
}

.stats{
    opacity: 0;
    transform: translateY(-40px);
    transition: 1s all;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    &.visible{
        opacity: 1;
        transform: translateY(0);

        .confidence-bar{
            .confidence{
                .inner-confidence{
                    &.width-{
                        &95{
                            width: 95%;
                        }
                        &90{
                            width: 90%;
                        }
                        &85{
                            width: 85%;
                        }
                        &80{
                            width: 80%;
                        }
                        &75{
                            width: 75%;
                        }
                        &70{
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

    h1{
        font-weight: normal;
    }

    p{
        margin: 0 0 40px;
    }

    .bar-holder{
        margin: 0 0 40px;
    }

    .confidence-bar{
        display: flex;
        align-items: center;
        margin: 0 0 10px;
        display: grid;
        grid-template-columns: 250px auto;

        .name{
            text-align: center;
            display: flex;
            justify-content: center;

            i{
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }

        .confidence{
            height: 1.5rem;
            background: $gray-200;
            border-radius: 5px;

            .inner-confidence{
                height: 100%;
                background: $lightBlue-400;
                border-radius: 5px;
                transition: 1s all;
                transition-delay: 0.5s;
                width: 0%;
            }
        }
    }
}

.projects{
    opacity: 0;
    transform: translateY(-40px);
    transition: 1s all;
    max-width: 900px;
    margin: 50px auto;
    text-align: center;

    &.visible{
        opacity: 1;
        transform: translateY(0);
    }
    
    h1{
        font-weight: normal;
    }

    p{
        margin: 0 0 30px;
    }

    .homepage-projects{
        .single-post > a{
            display: grid;
            grid-template-areas:
                "a b c";
            grid-template-columns: 200px auto 180px;
            text-align: left;
            align-items: start;
            margin-bottom: 20px;
            column-gap: 20px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
            transition: box-shadow 0.25s;
            background: #FFF;

            &:hover{
                color: $lightBlue-600;
                box-shadow: 0 8px 15px rgba(0,0,0,.2);

                h3{
                    color: $lightBlue-500;
                }

                .thumbnail{
                    img{
                        transform: scale(1.1);
                    }
                }
            }

            h3{
                transition: color 0.25s;
            }

            .thumbnail{
                grid-area: a;
                width: 200px;
                height: 135px;
                overflow: hidden;
                border-radius: 5px;

                >div, img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content{
                grid-area: b;
                
                .title{
                    h3{
                        font-size: 1.2rem;
                    }
                }

                .description{
                    color: $fontColor;
    
                    p{
                        font-size: 0.9rem;
                    }
                }
            }

            .tags{
                grid-area: c;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .view-more{
        display: block;
        width: 200px;
        margin: 0 auto 30px;
        text-align: center;
        background: $lightBlue-500;
        color: $lightBlue-50;
        transition: 0.25s all;
        padding: 10px 0;
        border-radius: 5px;

        &:hover{
            background: $lightBlue-400;
        }
    }
}

.portfolio-header{
    grid-area: a;
    text-align: center;
    background: linear-gradient(45deg, $lightBlue-400, $lightBlue-700);
    color: #FFF;
    border-bottom: 5px solid $lightBlue-600;
    padding: 50px 0;
    width: 100%;
    box-shadow: $box-shadow;

    h1{
        font-weight: normal;
        color: #FFF;
    }

    p{
        font-size: 0.9rem;
    }
}

.portfolio-grid{
    display: grid;
    column-gap: 20px;
    padding: 0 0 20px;

    grid-template: 
        "a a" auto
        "b c" auto / 300px auto
    ;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.filter-options{
    display: block;
    position: sticky;
    top: 0;
    padding: 10px 0 0 10px;
    grid-area: b;
}

.all-posts{
    grid-area: c;
    padding: 20px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    .no-results{
        width: 100%;
        grid-column: 1 / 4;
        min-height: calc(100vh - 300px);
    }

    .single-post{
        color: $gray-700;
        border-radius: 10px;
        padding: 10px;
        backface-visibility: hidden;
        display: block;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        transition: box-shadow 0.25s;
        background: #FFF;

        &:hover{
            color: $lightBlue-600;
            box-shadow: 0 8px 15px rgba(0,0,0,.2);

            h3{
                color: $lightBlue-500;
            }

            .thumbnail{
                img{
                    transform: scale(1.1);
                }
            }
        }

        h3{
            font-weight: 600;
            font-size: 1.2rem;
            padding: 0 0 5px;
            margin: 10px 0 5px;
            transition: color 0.25s;
        }

        .description{
            p{
                font-size: 0.8rem;
                line-height: 1.6;
                color: $gray-400;
            }
        }

        .thumbnail{
            width: 100%;
            height: 150px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 5px;
            overflow: hidden;

            >div{
                width: 100%;
                height: 100%;

                img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            span{
                position: absolute;
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 0.25s all;
                border-radius: 5px;
                overflow: hidden;

                img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 10px;
            padding-top: 10px;
        }
    }
}

.inner-tag{
    .single-tag{
        background: $gray-200;
        color: $gray-400;
        line-height: 1;
        border-radius: 20px;
        font-size: 0.8rem;
        margin: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;

        &:before{
            font-family: "Font Awesome 5 Brands"; 
            font-weight: 900;
            font-style: normal;
            text-rendering: auto;
            display: block;
            margin-right: 5px;
            font-variant: normal;
        }

        &.css{
            &:before{
                content: "\f13c";
            }
        }

        &.html{
            &:before{
                content: "\f13b";
            }
        }

        &.javascript, &.jquery, &.json-api, &.ajax{
            &:before{
                content: "\f3b8";
            }
        }

        &.php{
            &:before{
                content: "\f457"
            }
        }

        &.react{
            &:before{
                content: "\f41b"
            }
        }

        &.wordpress, &.woocommerce{
            &:before{
                content: "\f411"
            }
        }

        &.android{
            &:before{
                content: "\f17b"
            }
        }

        &.java{
            &:before{
                content: "\f4e4";
            }
        }

        &.unity{
            &:before{
                content: "\e049"
            }
        }

        &.python{
            &:before{
                content: "\f3e2"
            }
        }

        &.node-js{
            &:before{
                content: "\f3d3"
            }
        }

        &.c{
            &:before{
                content: "\f17a";
            }
        }
    }
}

.filter-options{
    h3{
        font-size: 1rem;
    }

    .filter-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px
    }

    .single-tag-filter{
        @extend .inner-tag;
        
        .single-tag{
            justify-content: flex-start;
            background: #FFF;
            transition: 0.25s all;
            cursor: pointer;
            margin: 0;
            // color: #FFF;
            box-shadow: $box-shadow-container;
            padding: 10px 15px;

            &.selected{
                color: #FFF;
                background: $lightBlue-600;
                padding-left: 25px;
    
                &:hover{
                    background: $lightBlue-600;
                    padding-left: 25px;
                }
            }

            &:hover{
                color: #FFF;
                background: $lightBlue-400;
                padding-left: 20px;
                box-shadow: $box-shadow-container-hover;
            }
        }
    }
    
    .reset-filter{
        background: $lightBlue-500;
        text-align: center;
        grid-column: span 2;
        border-radius: 5px;
        padding: 10px 5px;
        font-size: 0.9rem;
        margin-top: 15px;
        color: #FFF;
        cursor: pointer;
        transition: 0.25s all;
        box-shadow: $box-shadow-container;

        &:hover{
            background: $gray-200;
            box-shadow: $box-shadow-container-hover;
            background: $red-500;

            i{
                backface-visibility: hidden;
                animation: 1s linear infinite rotate360negative;
                line-height: 1;
            }
        }
    }
}

.contact-header{
    @extend .portfolio-header;
}

.contact-form{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 10px 65px;

    p{
        margin: 15px 0 0;
        font-size: 0.8rem;
    }

    input{
        width: 50%;
    }

    button{
        width: 50%;
        margin-top: 30px;
        background: $lightBlue-500;
        border: 1px solid $lightBlue-500;
        color: $lightBlue-50;
        transition: 0.25s all;
        padding: 10px;
        box-shadow: $box-shadow-container;

        &:after{
            content: "";
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;
            font-style: normal;
            text-rendering: auto;
            margin-left: 5px;
            display: inline-block;
        }

        &.SUBMITTING{
            &:hover{
                transform: none;
                box-shadow: none;
                cursor: default;
            }

            &:after{
                content: "\f1ce";
                animation: 1s linear infinite rotate360;
            }
        }

        &.SUBMITTED{
            border: 1px solid $green-600;
            background: $green-500;

            &:hover{
                background: $green-500;
                transform: none;
                box-shadow: none;
                cursor: default;
            }

            &:after{
                content: "\f00c";
            }
        }

        &:hover{
            box-shadow: $box-shadow-container-hover;
            background: $lightBlue-400;
        }
    }
}

.single-page{
    .post-loading{
        .header-image{
            background: $warmGray-800;
        }

        .inner-grid{
            .sidebar-information{
                .breadcrumb{
                    margin: 20px 0 0;
                    span{
                        display: block;
                        margin: 0;
                    }
                }

                .tags{
                    margin-top: 10px;

                    >span{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: center;

                        span{
                            width: 25%;
                            margin: 0 3px 6px;
                        }
                    }
                }
            }

            .main-content{
                .header-single{
                    h1{
                        width: 100%;
                    }
                }

                .tab-selector{
                    span{
                        border: 0;
                        display: flex;

                        span{
                            width: 100px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    .inner-grid{
        display: grid;
        padding: 0 10px;
        grid-template:
            "a a" auto
            "b c" auto / 300px auto
        ;
        max-width: 1100px;
        margin: 0 auto;
    }

    .header-image{
        grid-area: a;
        height: 300px;

        >div{
            height: 300px;
            overflow: hidden;
            width: 100%;
            display: block;
            background: $warmGray-800;
            // background: linear-gradient(45deg, $lightBlue-400,  $lightBlue-600);

            img{
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: blur(10px);
            }
        }
    }

    .sidebar-information{
        grid-area: b;
        padding: 10px;
        margin-top: -40px;
        position: relative;
        background: $bodyBG;
        border-radius: 10px 10px 0 0;
        z-index: 3;

        img{
            border-radius: 5px;
        }

        .inner-sidebar{
            position: sticky;
            top: 20px;
        }

        .breadcrumb{
            margin: 10px 0 3px;
            text-align: center;
            font-size: 0.8rem;

            a, span{
                margin: 0 5px;
            }
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px 0;
        }

        .contact-button{
            display: block;
            text-align: center;
            background: $lightBlue-600;
            color: #FFF;
            padding: 10px;
            border-radius: 5px;
            transition: 0.25s all;
            margin-top: 10px;
            box-shadow: $box-shadow-container;

            &:hover{
                background: $lightBlue-500;
                box-shadow: $box-shadow-container-hover;
            }
        }
    }

    .main-content{
        grid-area: c;
        padding: 0 10px;

        .header-single{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 0;

            h1{
                color: $gray-600;
                margin: 0;
            }

            .visit-website{
                background: $lightBlue-600;
                color: #FFF;
                padding: 10px 30px;
                border-radius: 5px;
                transition: 0.25s all;
                box-shadow: $box-shadow-container;
                z-index: 3;

                &:hover{
                    background: $lightBlue-500;
                    box-shadow: $box-shadow-container-hover;
                }
            }
        }

        .tab-selector{
            border-bottom: 1px solid $gray-200;
            display: flex;
            position: sticky;
            top: 0;
            background: $bodyBG;
            z-index: 2;

            span{
                border-bottom: 4px solid $bodyBG;
                cursor: pointer;
                transition: 0.25s all;
                display: block;
                padding: 10px 20px;
                font-size: 0.9rem;
                color: $gray-700;
                margin-bottom: -1px;

                &.active{
                    border-bottom: 4px solid $lightBlue-500;

                    &:hover{
                        border-bottom: 4px solid $lightBlue-500;
                    }
                }

                &:hover{
                    border-bottom: 4px solid $lightBlue-300;
                }
            }
        }

        .tab-content{
            padding: 0 0 20px;
            padding: 0 2px 20px;

            h3{
                margin: 20px 0 10px;
            }

            hr{
                border: 0;
                height: 1px;
                width: 80%;
                margin: 30px auto;
                background: $warmGray-200;
            }

            .media{
                padding: 30px 0 0;
                min-height: 600px;
                
                >div{
                    display: flex!important;
                    text-align: center;
                    margin:  0 0 30px;
                    background: $gray-100;
                    border-radius: 5px;
                    overflow: hidden;
                    justify-content: center;
                }
            }
        }
    }
}

@keyframes rotate360{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes rotate360negative{
    0%{
        transform: rotate(360deg)
    }
    100%{
        transform: rotate(0deg)
    }
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0);
    }
}

.widget-area{
    padding: 10px;
}