.page-template-page-thankyou {
	.site-header {
		position: relative;
	}

	.site-main {
		text-align: center;
		padding: 100px 10px;
	}
}

.page-template-page-privacypolicy {
	.privacy-page {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto 100px;
		padding: 0 10px;
	}
}

.responsive-video{
    /* EXAMPLE CODE:

    <div class="responsive-video">
        <div class="inner">
            <iframe src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    */ 

    width: 100%;

    .inner{
        padding-top: 56.25%;
        position: relative;
        width: 100%;

        iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.shadow-box{
    /* EXAMPLE CODE:

    <div class="shadow-box">
		<div class="content-box">
			<i class="fas fa-times close-box"></i>
			<div class="inner-content">

			</div>
		</div>
	</div>

    */ 

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.756);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    transition: 0.25s all;

    &.hide{
        opacity: 0;
        visibility: hidden;
    }

    .content-box{
        position: relative;
        width: 100%;
        max-width: 1000px;

        .close-box{
            color: #FFF;
            position: absolute;
            left: calc(100% + 10px);
            font-size: 25px;
            top: 0;
            line-height: 1;
            cursor: pointer;
        }

        .inner-content{
            width: 100%;
            min-height: 500px;
            background: #FFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.557);
        }
    }
}

@mixin absolutePos($verticalCenter: false, $horizontalCenter: false) {
    position: absolute;
    top: 0;
    left: 0;

    @if($verticalCenter == true){
        top: 50%;
        transform: translateY(-50%);
    }

    @if($horizontalCenter == true){
        left: 50%;
        transform: translateY(-50%);
    }

    @if($horizontalCenter == true and $verticalCenter == true){
        transform: translate(-50%, -50%);
    }
}

@mixin siteWidth($opt: false){
	margin: 0 auto;
	display: block;
	width: 100%;
	
	@if($opt) {
		max-width: $opt
	} @else {
		max-width: $site-width
	}
}

@mixin boxShadow{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.377);
}

@mixin floatingHeader{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
}

@mixin floatingSplash{
    position: relative;
    z-index: 1;

    .text{
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        transform: translateY(-50%);
    }
}

@mixin buttonHover{
    transition: 0.25s all;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.425);
        transform: translateY(-2px);
    }
}

@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

